#logo-container {
	margin-top: 10px;
	position: absolute;
	left: 22%;
	top: 50px;
}

#logo-head-bg {
	background:url('../images/logo_head_bg.png');
	border-radius: 5px 10px 0 10px;
	height: 90px;
	width: 632px;
	float:left;
	position: absolute;
	top:  85px;
	left: 10px;
	z-index: 5;
}
#logo-layer {
	background:url('../images/logo_layer.png');
	height: 85px;
	width: 532px;
	float:left;
	position: absolute;
	top:  174px;
	left: 10px;
	z-index: 15;
}
#logo-under-head-bg {
	background:url('../images/logo_under_head_bg.png');
	height: 85px;
	width: 532px;
	float:left;
	position: absolute;
	top:  175px;
	left: 10px;
	z-index: 5;
}

#logo {
	position: absolute;
	z-index: 10;
}